<%- include('../partials/header') %>
  <h1><%=title%></h1>
      <img class = "page-pic" src = "../images/about.jpg">
      <p>Hi, my name is Elias. I am a young adult who wants to get into the tech industry and pursuit the dream of becoming a software developer. Currently, I am an emerging software development professional and started my journey of becoming one as I take one step further toward my goal.</p>
      <p>This web page is built using JavaScript, Express.js, Node.js, and some Bootstrap. We have used EJS  for templating.</p>    
    
<%- include('../partials/footer') %>
