<%- include('../partials/header') %>
  <h1><%=title%></h1>
      <img class = "page-pic" src = "../images/hobbies.jpg">
      <p>These are my hobbies</p> 
      <ul>
        <li>Playing and watching Soccer</li>
        <li>Movies</li>
        <li>Listening music</li>
      </ul>
      <p>This web page is built using JavaScript, Express.js, Node.js, and some Bootstrap. We have used EJS for templating.</p>     
            
<%- include('../partials/footer') %>