<%- include('../partials/header') %>
  <h1><%=title%></h1>
      <img class = "page-pic" src = "../images/home.jpg">
      <p>This web page is built using JavaScript, Express.js, Node.js, and some Bootstrap. We have used EJS for templating.</p> 
  <p>This page is our Home Page and we added the links that lead to other pages we created using bootstrap in the header. We are pulling data in the form of JSON format and parsing the data using javascript. </p>    
            
<%- include('../partials/footer') %>